body {
  font-family: sans-serif;
  background: antiquewhite;
}

@media (orientation: landscape) {
  div.overlay {
    display: none !important;
  }
}

@media (orientation: portrait) {
  div.overlay {
    display: block;
  }
}

div.overlay {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.95;
  background: antiquewhite;

  div.text {
    font-size: 16vw;
    font-weight: bold;
    text-align: center;
    padding-top: 30vh;
    margin: 2px;
  }
}

div.controller {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;

  div.zone {
    position: absolute;
    top: 0;
    bottom: 0;
    display: inline-block;
  }

  .joypad {
    left: 0;
    right: 0;

    canvas {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }

  $zone-border: darkgray solid 1px;

  .status {
    left: 33%;
    right: 33%;
    border-left: $zone-border;
    border-right: $zone-border;
    z-index: 2;

    h1 {
      text-align: center;
      margin-top: 2%;
      margin-bottom: 2%;
    }

    table.score {
      width: 100%;
      font-size: x-large;

      thead {
        font-weight: bold;
        text-align: center;

        td {
          border-bottom: $zone-border;
        }
      }

      td {
        width: 50%;
        text-align: center;
        border-bottom: $zone-border;
      }
    }

    div.diagnostics {
      h2 {
        text-align: center;
      }

      table {
        width: 100%;
        border: brown solid 1px;

        thead {
          text-align: center;
        }

        tbody {
          text-align: center;
        }
      }
    }
  }
}
